/* Fonts 
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;

*/

:root {
    --spacer: 3rem;
    --box-shadow: 0.3rem 0.3rem 1.5rem rgb(0, 0, 0, 0.15);
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
}

h1,
h2,
h3,
p,
figure {
    margin: 0;
    padding: 0;
}

/* Utilities */
ul[class],
ol[class] {
    padding: 0;
    margin: 0;
    list-style: none;
}

.flow-content > * + * {
    margin-top: var(--flow-spacer, var(--spacer));
}
/* Start Here */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 6.4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.8rem;
}

p {
    font-size: 1.8rem;
}

.logo {
    font-size: 2.6rem;
}

.text--Neutral-White {
    color: #fffafb;
}

.text--Neutral-Black {
    color: #050505;
}

.text--Neutral-Gray {
    color: #4a4a4a;
}

.text--Primary {
    color: #24126a;
}

.text--Primary-Lighter {
    color: #3d2892;
}

.text--Secondary {
    color: #1ac3c3;
}

.text--Secondary-Lighter {
    color: #16e0e0;
}

.text--Accent {
    color: #f55d3a;
}

header {
    padding: 50px 10%;
}

.spookify-text {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
}

li {
    list-style-type: none;
    display: inline-block;
    font-size: 1.8rem;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    font-weight: bold;
    padding-left: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    padding: 0 10%;
    min-width: 1000px;
}

.hero__intro {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

img {
    width: 100%;
    height: 100%;
}

.hero__intro__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: light;
}

.hero__intro-h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 0 10px;
    text-transform: uppercase;
}

.hero__intro-h2 {
    display: inline-block;
    font-family: "Lora", serif;
    max-width: 480px;
    padding: 25px 0;
    font-family: lighter;
}

.hero__intro-getstarted {
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    height: 30px;
    width: 100px;
    background-color: #24126a;
    color: white;
    font-weight: lighter;
    width: 130px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.432);
    padding: 0;
}

.pumpkin-image {
    min-width: 300px;
    height: 300px;
}

.stories {
    margin-top: 80px;
    padding: 0 15%;
    min-width: 1000px;
}

.stories__paramdam {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.stories__paramdam__figure {
    position: relative;
}

.paramdam-border {
    position: absolute;
    top: -8px;
    left: -8px;
    background-color: #f55d3a;
    border-radius: 5px;
    width: 160px;
    height: 320px;
    z-index: -1;
}

.stories__title {
    text-align: center;
    font-weight: bolder;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.322);
}

.stories__paramdam__image {
    display: inline-block;
    width: 300px;
}

.stories__paramdam-texts {
    padding-left: 5%;
    max-width: 600px;
}

.stories__paramdam__p {
    font-family: "Lora", serif;
}

.stories__senyales {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.senyales-border {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #16e0e0;
    border-radius: 5px;
    width: 160px;
    height: 320px;
    z-index: -1;
}

.stories__senyales__figure {
    position: relative;
}

.stories__senyales__image {
    width: 300px;
    box-shadow: -4px -4px 0px -5px #f55d3a;
}

.stories__senyales-texts {
    padding-right: 5%;
    max-width: 600px;
}

.stories__senyales__p {
    font-family: "Lora", serif;
}

.authors {
    padding: 0 15%;
    min-width: 1000px;
}

.authors__title {
    text-align: center;
}

.authors__container {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.authors__images {
    width: 150px;
}

.author__h3 {
    margin: 25px 0 20px;
}

.authors__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authors__p {
    text-align: center;
    font-family: "Lora", serif;
}

.footer {
    background-image: url("../images/Vector.png");
    margin-top: 50px;
    height: 400px;
    min-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 30px;
}

.footer__div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    padding-bottom: 20px;
}

.footer__div__textbox {
    height: 35px;
    width: 300px;
    margin: 20px;
}

.footer__div__submit {
    height: 35px;
    padding: 0 15px;
    background-color: #3d2892;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.footer__div__h1 {
    text-align: center;
    margin-right: 30px;
}
